*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HelveticaNeueLTStd55Roman.woff');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Helvetica Neue LT Std 55 Roman";
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-row-gap: .5rem;
    max-width: 350px;
    background-color: silver;
    padding: 2rem .5rem;
    border-radius: 25px;
}

input {
    width: 100%;
    height: 90px;
    grid-column: span 4;
    font-size: 3rem;
    background-color: silver;
    color: black;
    border: 0;
    text-align: right;
    padding-top: 2rem;
}

input:focus {
    outline: none;
}

#clear {
    grid-column: span 2;
    width: 159px;
    /*background-color: #A9A9A9;  */
    background-color: #ff006a;
    color: white;
    box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.2),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.2);
}

#equals {
    grid-row: span 2;
    height: 159px;
}

button {
    font-size: 2.2rem;
    width: 73px;
    height: 73px;
    border-radius: 40px;
    border: 0;
    outline: none;
    color: white;
    background-color: #464647;
    box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.4),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.3);
}

button:active, #equals:active, #clear:active, .blue:active {
    box-shadow: none;
}

.blue {
  background-color: #1a73e8;
  box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.2),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.2);
}

span {
    grid-column: span 4;
    font-family: "Helvetica Neue LT Std 55 Roman";
}

@media (max-width: 349px) {
   button {
       width: 68px;
       height: 68px;
   }

   #clear {
       width: 146px;
   }

   #equals {
       height: 143px;
   }
}