*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HelveticaNeueLTStd55Roman.woff');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Helvetica Neue LT Std 55 Roman";
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-row-gap: .5rem;
    max-width: 350px;
    background-color: silver;
    padding-bottom: 1rem;
}

input {
    width: 100%;
    grid-column: span 4;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: .5rem;
}

input:focus {
    outline: none;
}

#clear {
    grid-column: span 2;
    width: 168px;
    background-color: #A9A9A9;
    color: black;
    box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.2),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.2);
}

#equals {
    grid-row: span 2;
    height: 168px;
}

button {
    font-size: 2.2rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 0;
    outline: none;
    color: white;
    background-color: #464647;
    box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.4),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.3);
}

button:active, #equals:active, #clear:active, .blue:active {
  box-shadow: none;
}

.blue {
  background-color: #1a73e8;
  box-shadow: 
    5px 5px 5px 0 rgba(0, 0, 0, 0.2),
    -3px -3px 3px 0 rgba(255, 255, 255, 0.2);
}